RewriteEngine On

# Sesuaikan folder project
RewriteBase /elvan-amin-albert/

# Jika file/folder asli ada → biarkan
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Routing semua ke index.php
RewriteRule ^(.*)$ index.php [L]
